---
import Layout from '../layouts/Layout.astro';
import Character from '../components/Character.astro';
import CharacterInfo from '../components/CharacterInfo.astro';
import selectCharacter from '../utils/selectCharacter';
import PickerCharacter from '../components/PickerCharacter.astro';
import { charactersData } from '../const/charactersData';
---

<Layout title="Mortal Kombat Selector.">
	<main class="relative flex justify-center items-center text-center size-full h-screen bg-center bg-cover bg-no-repeat p-6" style="background-image: url(./img/background.jpg);">
		<div class="absolute inset-0 bg-black bg-opacity-30 z-0"></div>
		<div class="z-10 w-full">
			<div class="absolute bottom-10 left-10 w-[360px]">
				<img src="./img/mortal_kombat_title.png" alt="">
			</div>
			<div class="absolute top-10 right-10 w-24">
				<img src="./img/mk_11_logo.png" alt="">
			</div>
			<section class="h-[500px] w-full flex justify-center relative">
				<CharacterInfo
					id="mainCharacterInfo"
					characterName='Scorpion'
					characterDescription="Un ninja espectral en busca de venganza por la muerte de su familia y su clan. Conocido por su icónica frase 'Get over here!' y su control sobre el fuego infernal."		
				/>
				<Character 
					id="mainCharacter"
					characterImg={selectCharacter("scorpion")}
					characterName='Scorpion'/>
			</section>
			<section class="mt-4 flex">
				<PickerCharacter characters={charactersData}/>
			</section>
		</div>
		
	</main>
</Layout>
