---
interface Props{
    characterImg:string, 
    characterName:string,
    id?:string

}
const {characterImg, characterName, id} = Astro.props;
---

<div 
    id={id}
    class="h-[600px] mt-6">
    <img
        class="w-full h-full object-contain animated-character-img" 
        src={characterImg} 
        alt={characterName}>
</div>